{
  "madAdminUrl": "http://admin.mad",
  "itemTypeFilter": ["Pokemon", "Rare Candy", "Super Bonbon", "Silver Pinap", "Stardust", "Poussières Étoiles"],
  "filterByShinyPokemon": true,
  "pokemonFilter": [
    "Aerodactyl",
    "Chansey",
    "Magnemite",
    "Sunkern",
    "Omanyte",
    "Growlithe",
    "Snubbull",
    "Kabuto",
    "Gastly"
  ]
}
